<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts Provided by Applications</key>
	<array>
		<string>Poppins-SemiBold</string>
		<string>Poppins-Regular</string>
		<string>Poppins-Medium</string>
		<string>Poppins-Bold</string>
	</array>
	<key>API_KEY</key>
	<string>CG-Pi3t78EPddS1W49SPtkm43sE</string>
</dict>
</plist>
